In [3]:
from gini import *
size = (5, 5)
mat = np.random.choice([1,0],size)

orbi = OrBi(mat)
print('bicluster gini is: '+ orbi.gini_mu([2,3],[2,3]))

Columns

Partitions of columns on row

     0  1
2 0  0  0
  1  0  1
1 3  1  0

For row partitions on cols of[2, 3]:

                 gini : 0.6399999999999999
                 gini_m : 0.9

Partitions of rows on columns

   1  3  1
   3  0  1
0  0  0  1
1  0  1  1

For column partitions on cols of[2, 3]:

                 gini : 0.5599999999999999
                 gini_m : 0.78

TypeError: can only concatenate str (not "numpy.float64") to str